[Unit]
Description=MSK/LV Report Telegram Bot
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/bots/msk_lv_report
EnvironmentFile=/home/bots/msk_lv_report/.env
ExecStart=/home/bots/msk_lv_report/venv/bin/python3 /home/bots/msk_lv_report/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
