# Telegram
TELEGRAM_BOT_TOKEN=8369771647:AAHyS9haEDBtpzjOlAyUWcpar4gbk-trfyg
TELEGRAM_CHAT_ID=233590599
# TELEGRAM_PROXY=socks5h://127.0.0.1:1080  # Раскомментируйте если Telegram недоступен напрямую

# MSK Server
MSK_HOST=195.209.214.24
MSK_USER=ubuntu
MSK_KEY=/Users/bredeshok/Yandex.Disk.localized/TRAE/ukusongs/privatekey-1043538.pem

# LV PostgreSQL
LV_PG_USER=ukusongs
LV_PG_DATABASE=ukusongs
